.form {
  color: white;
  width: 500px;
  height: 150px;
}

.grid_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid_item {
  display: flex;
  gap: 10px;
}
.input_text {
  width: 40px;
}

.btn_generate:hover {
  cursor: pointer;
}
.btn_box {
  display: flex;
  justify-content: center;
}
.btn_generate {
  all: unset;
  margin-top: 50px;
  font-size: x-large;
  color: white;
  background-color: transparent;
  padding: 20px;
}
